.list-group-item .card-header {
  padding: 10px !important;
}

.container {
  display: inline-grid;
  grid-template-columns: auto auto auto auto auto;
  gap: 0px 20px;
}

#Tsukasa{
  background-color: #FFBB00;
}
#Saki{
  background-color: #FFDD44;
}
#Emu{
  background-color: #FF66BB;
}
#Nene{
  background-color: #33DD99;
}

#Rui{
  background-color: #BB88EE;
}
